# Scraping
requests==2.34.2
rustysoup==0.1.2
useragentgen==1.0

# Data Processing
polars==1.42.1


# BeautifulSoup4
# fuzzywuzzy
# matplotlib
# numpy
# pandas
# pandas
# requests
# seaborn
# selenium
# webdriver-manager
# aiohttp
# random
# asyncio
